body {
    background-color: pink;
}
div#flex-gallery {
    display: flex;
    flex-flow: column wrap;
    height: 820px;
    align-content: flex-start;
    justify-content: space-evenly;
    padding-top: 10px;
    place-items:  ;
    
}
#flex-gallery > figure {
    background-color: yellow;
    width: 220px;
    border: 10px;
    column-gap: 10px;
    
}
figure > img {
    width: 200px;
    padding: 10px;
}
figcaption {
    font-family: fantasy;
    font-size: 18px;
    font-style: italic;
    font-weight: bold; /* or number in 100s */
    text-align: left; /* justify is 2nd most popular; not good for short text */;
    margin: 10px;
    color: darkred;
    
}
