body {
    background-color: chartreuse;
}
div#flex-gallery {
    display: flex;
    flex-flow: column wrap;
    height: 900px;
    align-content: flex-start;
    justify-content: space-evenly;
/*    padding-top: 10px; */
    
}
#flex-gallery > figure {
    background-color: white;
    width: 200px;
/*    border: 10px;
    column-gap: 10px; */
    
}
figure > img {
    width: 200px;
/*    padding: 10px;  */
}
figcaption {
    font-family: fantasy;
/*    font-size: 18px;  */
/*    font-style: italic;  */
/*    font-weight: bold; */ /* or number in 100s */
    text-align: left; /* justify is 2nd most popular; not good for short text */;
/*    margin: 10px;  */
/*    color: darkred;  */
    
}
