body {
    background-color: maroon;
}

/* 
 *  HEADER STYLES START
 */
header, main, footer {
    width: 900px;
    background-color: white;
    margin: 0 auto;
    padding: 50px;
    font-size: 36px;
}
header, main {
    border-bottom: maroon 5px solid;
}
header {
    padding-right: 0;
    width: 950px;
}
header h1 {
    color: maroon;
    font-family: "Zapfino";
    font-size: 48px;
    line-height: 84px;
    text-align: center;
    
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;
    background-color: maroon;
    color: white;
    font-family: "Arial";
    margin-top: 25px;
    padding: 12px;
    text-transform: uppercase;
    
}
nav ul li a {
    text-decoration: none;  /* get rid of underline */
}
/* nav ul li a:link, nav ul li a:visited {  */
nav ul li a:link { 
    color: white;
    text-decoration: none;
}
nav ul li a:visited {
    text-decoration: none;
}
nav ul li:hover {
    background-color: coral;
    text-decoration: purple dotted line-through;
}
/* don't change size with hover 
   you can bold or hide         */
nav ul li a:hover {
/*    color: green;  */
/*    font-size: 100px; */
/*    background-color: yellow;  */
} 
nav ul li a:active {
   /* text-decoration: none;  */
    color: yellowgreen;
}

#custom-height {
    line-height: 72px;
}
#logo {
    float: left;
}
#title-container {
/*    float: right; */
    margin-left: 200px; 
}

/* 
 *  HEADER STYLES END
 */
/* 4 pseudo-classes:
    :link (default)
    :active (holding down link)
    :hover (when mouse pointer over link)
    :visited (previously visited links appear in purple)

    Also, selector:pseudo-class & selector::pseudo-element
 */

 /* 
 *  FOOTER STYLES START
 */
footer {
    color: maroon;
    font-family: "Arial";
    line-height: 48px;
}
#copyright {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
footer section ul {
    text-align: right;

}
footer section ul li {
    display: inline-block;
/*    padding: 10px; */
}
/*
footer section ul li:hover {
    color: white;
    background-color: maroon;
}
*/
#social-links ul:hover {
    text-align: right;
    color: greenyellow;
}
#social-links ul li {
    display: inline-block;
/*    border: solid 1px maroon;
    border-radius: 10px;
    padding: 10px;
*/
   line-height: 100%;
   overflow: auto;
   box-sizing: border-box;
}
#social-links ul li a {
    text-decoration: none;
    color: green;
    background-color: goldenrod;
    padding: 8px;
}
#social-links ul li a:link {
    text-decoration: none;
    color: green;
    background-color: goldenrod;
}
#social-links ul li a:visited {
    color: gray;
}
/*
#social-links ul li a:hover {
    color: pink;
}
*/
#social-links ul li a:hover {
    color: blue;
    background-color: blueviolet;
}

 /* 
 *  FOOTER STYLES END
 */

 /* MAIN DEFAULT STYLES - START */

 main {
    font-family: "Arial";
    color: maroon;
 }
 main h1 {
    font-family: "Zapfino";
    font-style: 36px;
    line-height: 80px;
    margin-top: 30px;
    text-align: center;
    /* text-transform: uppercase; */
 /*    margin: 20px 0; */
 }
 main p {
     font-size: 24px;
 }
 /* MAIN DEFAULT STYLES - END */


 /* HOMEPAGE STYLE - START */

 main#homepage p {
    line-height: 30px;
    margin: 20px;
    text-align: justify;
 }
 /* HOMEPAGE STYLE - END */

  /* GALLERY STYLE - START */

#gallery {
    display: flex;
    flex-wrap: wrap;
/*    flex-flow: column; */
    justify-content: space-between;
    margin-top: 10px;
 }
#gallery div {
     width: 200px;
/*     height: 500px; */
}
#gallery div img {
    width: 200px;
    margin-bottom: 20px;
}
 /* GALLERY STYLE - END */


/* CONTACT STYLE - START */
#contact > hr {
    border: dotted 2px maroon;
}
#contact-flexbox {
    display: flex;
    /* bad idea to specify container height; using height for testing */
/*    height: 300px;  */
}
#contact-flexbox div:first-child {
    flex-grow: 3;
    /* highlights container for testing */
    background-color: purple;
}
#contact-flexbox div:last-child {
    flex-grow: 1;
    /* highlights container for testing */
    background-color: silver;
}
#contact-form {
/*    border: solid maroon 1px; */
    margin: 20px;
    width: 400px;
}

#contact-form label {
    font-size: 24px;
}
#contact-form input {
    border: dashed 10px maroon;
    border-radius: 15px;
    font-size: 18px;
    color: maroon;
    height: 50px;
    width: 400px;
    box-sizing: border-box;
    padding-left: 11px;
}
#contact-form .form-buttons {
    border: solid;
    color: maroon;
    font-size: 18px;
    margin: 20px;
    width: 360px;
}
#contact-form .form-buttons:hover {
    border: solid maroon 5px;
    cursor: 
}

#contact-form textarea {
    border: dashed 5px maroon;
    border-radius: 15px;
    box-sizing: border-box;
    color: maroon;
    font-size: 18px;
    max-width: 400px;
    padding: 11px;
    width: 100%;
}

/* CONTACT STYLE - END */
